 <footer th:fragment="footer">
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col" style="text-align-last: justify">
              <a href="https://es-la.facebook.com/">
                <img
                  src="img/face.png"
                  alt=""
                  style="width: 40px; height: auto"
              /></a>
              <a href="https://www.instagram.com/?hl=es"
                ><img
                  src="img/instagran.png"
                  alt=""
                  style="width: 40px; height: auto"
              /></a>
              <a href="https://twitter.com/?lang=es"
                ><img
                  src="img/twiter.png"
                  alt=""
                  style="width: 60px; height: auto"
              /></a>
              <a href="https://www.tiktok.com/es//"
                ><img
                  src="img/tiktok.jfif"
                  alt=""
                  style="width: 60px; height: auto"
              /></a>
            </div>
          </div>
          <br />
          <div class="row">
            <h3 style="text-align: center">Donde estamos</h3>
            <p style="text-align: center">
              making it look like readable English. Many desktop publishing
              packages and web page editors now use Lorem Ipsum as their
            </p>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <form action="">
            <input type="text" name="Nombre" placeholder="Ingrese su nombre" id="nombre" required/>
            <label for="email"></label>
            <input type="email" placeholder="Ingrese su E-Mail" required/><br />
            <label for="comentarios"></label><br />
            <textarea name="" id="comentarios" placeholder=" Escribanos y nos contactaremos de inmediato "
              class="commentA" style="width: 100%; min-height: 100px" required ></textarea>
            <label for="Enviar"></label>
            <input type="submit" formaction="00-index.html">
          </form>
        </div>
      </div>
    </footer>