
<nav th:fragment="nav_bar">
		<a th:href="@{/}"><img th:src= "@{/img/logo.png}" alt="sin fotooo" style="width: 10%; height: auto;"></a>
		<div class="row" style="width: 100%">
		<h3 th:if="${session.usuariosession != null}" th:text="Bienvenido + ' ' + ${session.usuariosession.nombre} + ' ' + ${session.usuariosession.apellido} " style="text-align: center;"></h3>
		</div>
			<div class="row" style="width: 100%">
				<div class="row" style="width: 100%">
		            <div class="col" style="text-align: center;">
		              <a th:if="${session.usuariosession == null}" th:href="@{/usuario/registroP}" style="padding: 5px"> <button type="button" class="btn btn-outline-secondary">Registra tu Propiedad</button> </a>
		              <a th:href="@{/quienesSomos}" style="padding: 5px"><button type="button" class="btn btn-outline-secondary">Nosotros</button></a>
		              <a th:href="@{/nuestrosServicios}" style="padding: 5px"><button type="button" class="btn btn-outline-secondary">Nuestros Servicios</button></a>
		              <a th:if="${session.usuariosession == null}" th:href="@{/login}" style="padding: 5px"> <button type="button" class="btn btn-outline-secondary">Ingresa</button> </a>
		              <a th:if="${session.usuariosession != null}" th:href="@{/logout}" style="padding: 5px"> Logout </a>
		            </div>
				</div>
			</div>
</nav><br><br>